doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    a(href='/users/signup') Sign Up
    a(href='/users/login') Log In
    a(href='/users/demo') Demo User
    block content
