extends layout.pug
include utils.pug

append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/authForms.css")
    //- add page specific js

block content
    h1= title
    form(action='/users/login' method = 'post' class='log-in-form')
        +formField('Email', 'email', '', 'email')
        +formField('Password', 'password', '', 'password')
        input(type='hidden' name="_csrf" id='_csrf' value=csrfToken)
        button(type='submit') Submit
    .loginErrors 

