extends layout.pug
include utils.pug

append head
		link(rel="stylesheet" href="/stylesheets/lists.css")
		link(rel="stylesheet" href="/stylesheets/movies.css")
		link(rel="stylesheet" href="/stylesheets/components/buttons.css")
		link(rel="stylesheet" href="/stylesheets/components/dropdown.css")
		script(src="/javascripts/movies-display.js" type="module" defer)

block content
		div(class='mainContent')
				div(class='movie-nav-container')
					+pages(pageCount, currentPage)
					input(type='text' placeholder='Search by movie title...')
				.moviesTableContainer
						table(class='moviesTable')
							thead
									tr
											th(class='posterCell') Poster
											th(class='titleCell') Title
											th Runtime
											th Release Date
											th IMDB Rating
											//- th Actions
							tbody
									+movieTable(movies)
				+pages(pageCount, currentPage)
