button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}

.buttonPrimary {
	background-color: #034078;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow 0.4 ease;
}

.buttonSecondary {
	background-color: #ffa630;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow 0.4 ease;
}

.buttonDelete {
	background-color: #c44536;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow 0.4 ease;
}
.buttonDelete {
	background-color: #a53a2e;
}
.buttonSecondary:hover {
	background-color: #f19a28;
}

.buttonPrimary:hover {
	background-color: #06549e;
	/* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); */
	/* transform: translateY(-0.5px); */
}
