
.buttonPrimary {
	background-color: #034078;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow 0.4 ease;
}

.buttonSecondary {
	background-color: #ffa630;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow 0.4 ease;
}

.buttonDelete {
	background-color: #c44536;
}
