nav {
	margin: 0 0 40px 0;
	padding: 0;
	background-color: #0a1128;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size: 20px;
	line-height: 20px;
	color: #fefcfb;
}

#logo > a {
	font-size: 22px;
}

#nav:after {
	content: '';
	display: table;
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	/* position: relative; */
}

nav ul li {
	margin: 0px;
	display: inline-block;
	background-color: #0a1128;
}

nav a {
	display: block;
	padding: 14px 20px;
	color: #fefcfb;
	font-size: 17px;
	text-decoration: none;
}

nav ul li:hover {
	background-color: #034078;
}

.LogOutBTN {
	display: block;
	padding: 14px 20px;
	color: #fefcfb;
	font-size: 17px;
	text-decoration: none;
	border: 0;
	background-color: #0a1128;
}

.LogOutBTN:focus {
	outline: none;
}

.LogOutBTN:hover {
	background-color: #034078;
	cursor: pointer;
}

.theme-toggle {
	position: absolute;
	right: 540px;
	background-color: #fff;
	color: #000;
	width: 50px;
	height: 20px;
	border-radius: 50px;
	/* position: relative; */
}

.switch {
	background-color: #034078;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	position: absolute;
	top: 3px;
	left: 4px;
	transition: 0.5s all ease;
}
